:root {
  --card-size: 175px;
}

.card-character {
  width: fit-content;
  margin: 0;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0.5rem;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
}

.card-thumbnail {
  width: var(--card-size);
  height: var(--card-size);
}

.card-content {
  overflow-y: hidden;
  max-width: var(--card-size);
}

.card-content h3 {
  line-height: 1.2rem;
  height: 2.4rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.card-content p {
  margin: 0;
  padding: 0;
}
